* {
    box-sizing: border-box;
    color: black;
}

a {
    color: black
}

p {
    color: black
}
   
*:before,
*:after {
    box-sizing: border-box;
}
   
html,
body {
    height: 100%;
    position: relative;
    padding-top: 30px;
}

/* body {
    border: 1px solid transparent;
    background: linear-gradient(to bottom,black,  black);
    padding-bottom: 150px;
} */

.main-container {
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 100px; /* height of your footer */
}


/* Nav Styles */
#banner-text {
    font-size: 1.2em;
}

#nav-logo{
    max-width: 30px;
    max-height: 30px;
    margin-right: 10px;
}

.nav-item:hover {
    background-color: cornflowerblue;
}
.nav-item {
    color: black
}

nav {
    background: linear-gradient(to bottom,white, white);
}

.nav-link {
    cursor: pointer;
    color: black;
}


#root {
    color: black;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

ul {
    padding-left: 10px;
}

/* h3 a {
    color: white;
} */
.reviews {
    color: black;
}

.further-links li {
    margin-left: 30px;
}

.further-links a:hover {
    color: #BFEFFF;
}

Footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 100px;
    left: 0;
    color: black;
}

.login {
    padding-left: 20px;
}

/* .show>.dropdown-menu {
    display: block;
    position: relative;
  } */


